@import "../components/footer";
@import "../components/header";
@import "../defaults/colors";
@import "../defaults/breakpoint";

// Implementation of background image
body {
    background-image: url(../images/background-wihtewlight.jpg);
    background-size: cover;
    background-position: center;
}
// styling of the buttons used as links to the Experience page and About page
.btn{
    background: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 6px;
    color: $dark-background;
    font-weight: 700;
    text-decoration: none;
    padding: 1px;
    transition: background 0.5s;
}

.btn:hover{
    background: $primary-background;
    color: $text-color;
}

// styling of main content including the image and general lorem ipsum
section{
    display: flex;
    flex-direction: column;
}

.about {
    width: 100%;
    height: fit-content;
    padding: 100px 0px;

}

.about img {
    height: auto;
    width: auto;
    position: center;
    display: flex;

}

.about-text {
    width: 550px;
}

.main {
    width: auto;
    max-width: 95%;
    margin: 0 auto;
    display: block;
    align-items: center;
    justify-content: center;
}
// styling of 2 header texts before lorem ipsum text
.about-text h2 {
    color: $dark-background;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 10px;
    padding: 10px;
}

.about-text h5 {
    color: $dark-background;
    letter-spacing: 2px;
    font-size: 45px;
    margin-bottom: 25px;
    text-transform: capitalize;
    padding: 20px;
    height: fit-content;
}

p {
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    color: $text-color;
    background-color: $dark-background;
    border-radius: 10px;
    
}

.image {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: auto;
    
}

// styling of breakpoint so that content displays correctly on the page whether in mobile view or desktop view
@media screen and (max-width:$medium) {
    main{
        display: flex;
        flex-direction: row;
        
    }
    .image{
        display: flexbox;
    }
    .about-text{
        display: block;
        justify-content: center;
    }
    
}